<!-- Appel du composant en-tete -->
<app-en-tete [title_fourni_au_composant_enfant]="title"></app-en-tete>

<hr>

<h2>Messagerie:</h2>

<hr>

<app-gauche [listeMessages]="T_Messages"></app-gauche>

<hr>

<span>Nombre de messages envoyés: {{ T_Messages.length }}</span>

<table>
  <thead>
    <tr>
      <th>Auteur</th>
      <th>Message</th>
      <th>Date d'envoi</th>
    </tr>
  </thead>
  <tbody>
    <!-- Directive ngFor sur un tableau -->
    <tr *ngFor="let messageEnCours of T_Messages">
      <td>
        Auteur: {{ messageEnCours.auteur }}
      </td>
      <td>
        Message: {{ messageEnCours.contenu }}
      </td>
      <td>
        {{ messageEnCours.date | date: "dd/MM/YYY à HH:mm"}}
      </td>
    </tr>
  </tbody>
</table>

<hr>

<app-pied-de-page [message]="message" (newMessageEvent)="envoiMessage()"></app-pied-de-page>